
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 
}

.calculator {
  background:  white;
  width: 400px;
  border-radius: 15px;
  box-shadow:  0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */
.calculator-display {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Lucida Console', sans-serif;
  font-weight: 100;
  overflow-x: auto;
  text-shadow:   0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b48888;
  box-shadow:  0px 2px 3px -1px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Buttons */

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px ;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(199, 199, 199);
  box-shadow:  0px 2px 3px -1px rgba(0, 0, 0, 0.6);
  
}

button:hover {
  filter: brightness(110%);
 
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background: grey;
  color: white;
  font-size: 30px;
}

.clear {
  background: rgb(255, 40, 40);
  color: white;
}

.clear-entry {
  background: rgb(238, 143, 34);
  color: white;
}

.clear:hover, .clear-entry:hover {
  filter: brightness(90%);
}







.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 3;
  background: rgb(13, 206, 87);
}

/* Media Query */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}